body{
    background-color: #fcfcfd;
    font-family: Noto Sans Mono, sans-serif;
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
}
.top{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    margin: -10px;
}
.left{
    width: 50%;
    height: 100vh;
    background: url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");
    background-size: cover;
    position: relative;
    overflow: hidden;    
}
.overlay-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(40, 238, 167, 0.93);
}
.right{
    width: 50%;
    height: 100vh;
    background: url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4d48dc5b31ff0aa4ca67_Untitled%20design%20(12).png");
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.overlay-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, .85); 
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 80%;
}
.logo{
    align-self: flex-start;
}
.menu{
    align-self: flex-end;
}
.top-text{
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    
}
.text-left{
    align-items: flex-end;
    margin-right: 5%;
}
.text-right{
    align-items: flex-start;
    margin-left: 5%;
    color: white;
}
#want{
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 24px;
}
#hire{
    background-color: white;
    color: black;
    padding: 5px 10px 5px 10px;
    font-size: 24px;
}
#head-link{
    text-decoration: none;
    color: white;
}
#head-link-right{
    text-decoration: none;
    color: black;
}
#link-container-right{
    background-color: white;
    padding: 10px;
}
#link-container{
    background-color: black;
    padding: 10px;
}
#header-text{
    text-align: right;
}
#header-text-right{
    text-align: left;
}
#software{
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
}
.body-container{
    width: 100%;
    height: 105vh;
    background-color: #f1f2f3;
    padding-top: 70px;
}
.hello-container{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
.hello-world{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.line-container{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.hello-world-text{
    font-size: 24px;
    font-weight: 900;
}
.arrow{
    color: #28eea7;
}
.circles{
    width: 8%;
    display: flex;
    justify-content: space-between;
}
.circle{
    border-radius: 20px;
    width: 24px;
    height: 24px;
}
.black{
    background-color: black;
}
.white{
    background-color: #dcdee1;
}
.green{
    background-color: #28eea7;
}
.video-container{
    height: auto;
    margin-top: 50px;
    margin-left: 10%;
    width: 100%;
}
.youtube-video{
    object-fit: fill;
    border: 15px solid #28eea7;
    border-radius: 20px;
    width: 80%;
    height: 80vh;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
    background-position: 50%;
    background-size: cover;
    position: relative;
}
.video{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    pointer-events:auto; 
}
.body-container-2{
    height: 70vh;
    width: 100%;
    margin-top: 5%;
}
.card-container{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-left: 10%;
    margin-top: 5%;
}
.employ-rate{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    background-color: #f1f2f3;
    border-radius: 20px;
    padding: 60px 70px;
    box-sizing: border-box;
}
.rate-nb{
    font-size: 100px;
    font-weight: 900;
}
.rate-text{
    font-size: 25px;
    font-weight: 900;
}
.rate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
    box-sizing: border-box;
}
.num-youth-trained{
    font-size: 64px;
    font-weight: 900;
}
.upper-left{
    background-color: #f1f2f3;
    border-radius: 20px;
    width: 55%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lower-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f3;
    border-radius: 20px;
    width: 50%;
    height: 95%;
}
.upper-card{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
}
.upper-right{
    background-color: #f1f2f3;
    border-radius: 20px;
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lower-card{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    column-gap: 20px;
    row-gap: 20px;
}
